<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">

  <h1>
    Welcome to {{title}}!
  </h1>
  <img src="assets/img/overall.png" alt="image">
<h1> Historical Results Distribution</h1>
</div>
<h2>Other helpful resouces </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="">Most frequent numbers</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="">Least frequent numbers</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="">Distribution data</a></h2>
  </li>
</ul>-->
<div class="topnav">
<nav>
  <h2>
  <a routerLink="/home">Home</a>
  <a routerLink="/history">Distribution</a>
  <a routerLink="/totos">Results</a>
  <a routerLink="/rule">Play Rules</a>
  </h2>
</nav>
</div>

<router-outlet></router-outlet>

<!--<app-history-distribution></app-history-distribution>-->

<!--<app-totos ></app-totos>-->













