
<div> 
	<h1 align="center">TOTO Big Data Distribution (since 49 Number)</h1>
</div>
<hr>
<div class="container">
 	<canvas id="myChartSixNumber" class="chartjs" width="undefined" height="undefined"></canvas>
 	<h2 align="center">Six Numbers Distribution</h2>
</div>
<hr>
<div class="container">
	<canvas id="myChartAdditional" class="chartjs" width="undefined" height="undefined"></canvas>
	<h2 align="center">The Additional Number Distribution</h2>
</div>
<hr>
<div class="container">
	<canvas id="myChart" class="chartjs" width="undefined" height="undefined"></canvas>
	<h2 align="center"> Seven Numbers Distribution</h2>
</div>