<div class="container">
  <div class="list-group">
    <div class="card list-group-item" *ngFor="let toto of totos">
      <div class="card-body">
        <h4 class="card-title">{{toto.number}} {{toto.date}}</h4>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary"
              *ngFor="let luck of toto.lucks">{{luck}}</button>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-secondary">{{toto.additional}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>