
 <h1>What's TOTO</h1>
<hr>
 <div class="relative">
	<p>
		TOTO is a legalized form of lottery sold in Singapore, known by different names elsewhere. Singapore Pools is the only legal lottery operator in Singapore. It was established on 23 May 1968 to control widespread illegal gambling in Singapore during the 1960s.
		<br>
		<br> 
		TOTO is a popular form of gambling in Singapore. In February 2005, a survey conducted by the Ministry of Community Development, Youth and Sports (MCYS) indicated that 58% of the Singapore residents surveyed had participated in at least one form of gambling activity over the past year.[1] Among those surveyed, TOTO ranked the second most popular type of gambling activity, after 4-Digits. The average monthly median betting amount of those surveyed who bought TOTO was placed at S$48.
		<br>
		<br>
		Singapore Pools outlet at Ghim Moh
		TOTO can be purchased from any of the 300 Singapore Pools outlets across Singapore. Draws are conducted every Monday and Thursday at 1830h or 6:30pm (SG/HK time). The “live” TOTO draw can be viewed at the Singapore Pools Main Branch at 210 Middle Road. The profits from TOTO go to the Singapore Totaliser Board (the owner of Singapore Pools) which uses the money for charity and other worthy causes
	</p>
</div>
<hr>
<h1>WINTOTO SITE</h1>
<hr>
 <div class="relative">
 	 <h2>Purpose of the site</h2>
	<p>
		Many people are trying to get rich from Lottry. They're intested to find out the patterns of winning. The WIN TOTO website is such a website which analyzes historical data of Singapore Lottery TOTO (49 number).  
		<br>
	</p>
	<hr>
	<h2>Disclaimer</h2>
	<p>
	
		The website just collect historical data and has done some preliminary pattern search base on the web-site owner's knowledge. You may use the data for you own reference. However, plese note that TOTO is just game of ODDS. There's not any way to guantee you to win a big prize. You must be responsible for what you buy and the website owner is not legally responsible for any loses occured based on our data. 
		<br>
	</p>
</div>
<hr>
